<div class="body">
    <div class="panel-top">
      <div class="center clearfix">
        <div class="social">
          <a href="#" class="s-fb">&nbsp;</a>
          <a href="#" class="s-dribble">&nbsp;</a>
          <a href="#" class="s-tw">&nbsp;</a>
          <a href="#" class="s-mail">&nbsp;</a>
          <a href="#" class="s-vimeo">&nbsp;</a>
        </div>
        <div class="basket">
          <a href="#"><span>Cart (0)</span></a>
        </div>
        <div class="login">
          <a href="#">Login</a>
          <span>/</span>
          <a href="#">Register</a>
        </div>
      </div>
    </div>
      </div>
      