<div class="main">
    <h1>Гарантія та сервісне обслуговування</h1>
<br>
<h2>На які товари надається гарантія?</h2>
<br>
<p>На товари в нашому магазині надається гарантія, яка підтверджує зобов'язання щодо відсутності в товарі заводських дефектів. Гарантія надається на термін від 2-х тижнів до 99 місяців залежно від сервісної політики виробника. Термін гарантії вказано в описі кожного товару на нашому сайті. Підтвердженням гарантійних зобов'язань слугує гарантійний талон виробника, або гарантійний талон PhoneShop  — online супермаркет просунутої електроніки».</p>
<br>
<p>Будь ласка, перевірте комплектність і відсутність дефектів у товарі під час його отримання (комплектність визначається описом виробу або посібником з його експлуатації).</p>
<br>
<h2>Куди звертатися за гарантійним обслуговуванням?</h2>
<br>
<p>Гарантійне обслуговування надають сервісні центри, авторизовані виробниками.
    Адреси та телефони сервісних центрів ви можете знайти на гарантійному талоні або за адресою — <a href="https://www.google.com.ua/maps/search/%D0%B0%D0%B4%D1%80%D0%B5%D1%81%D0%B8+%D1%81%D0%B5%D1%80%D0%B2%D1%96%D1%81%D0%BD%D0%B8%D1%85+%D1%86%D0%B5%D0%BD%D1%82%D1%80%D1%96%D0%B2+%D0%BC%D0%BE%D0%B1%D1%96%D0%BB%D1%8C%D0%BD%D0%B8%D1%85+%D1%82%D0%B5%D0%BB%D0%B5%D1%84%D0%BE%D0%BD%D1%96%D0%B2/@49.8229166,23.9887796,13z">список сервісних центрів</a></p>
<br>
<p>Право на безкоштовне гарантійне обслуговування дає гарантійний талон, у якому зазначено:</p>
<br>
<li>Модель</li><br>
<li>Серійний номер</li><br>
<li>Гарантійний термін</li><br>
<li>Дата продажу товару</li><br>
<br>
<p>Будь ласка, зберігайте його впродовж усього терміну експлуатації.</p><br>
<p>Термін ремонту визначається авторизованим СЦ, у разі виникнення проблем із сервіс-партнером, ви можете звернутися до точки продажу.</p>
<br>
<h2>Я можу обміняти або повернути товар?</h2> 
<br>
<p>Так, ви можете обміняти або повернути товар упродовж 14 днів після купівлі. Це право гарантує вам «Закон про захист прав споживача».</p>
<br>
<p>Щоб скористатися цією можливістю, будь ласка, переконайтеся, що:</p>
<br>
<li>товар не вживаний і не має слідів використання: подряпин, сколів, потертих місць, на лічильнику телефона не більш ніж 5 хвилин розмов, програмне забезпечення не змінювали тощо</li>
<br>
<li>товар повністю укомплектований і не порушена цілісність упаковки</li>
<br>
<li>збережено всі ярлики й заводське маркування</li>
<br>
<p>Якщо товар не працює, обмін або повернення товару здійснюється тільки за наявності висновку сервісного центру, авторизованого виробником, про те, що умови експлуатації не було порушено.</p>
<br>
<h2>Де і як можна здійснити обмін або повернення?</h2>
<br>
<p>Обміняти або повернути товар можна в нашому сервісному відділі за адресою:
    м. Львів, вул. Кирилівська, 40 з понеділка до п'ятниці включно з 10-00 до 19-00, в суботу — з 10-00 до 17-00.
    Телефон:  (044) 777-01-01 </p>
<br>
<p>Під час повернення товару потрібно мати із собою паспорт. Ми повернемо гроші в день повернення товару або, в разі відсутності грошей у касі, не пізніше, ніж через 7 днів.</p>
<br>
<p>Якщо ви живете не в Львові, можете надіслати товар назад за допомогою служби доставки. Якщо у товару збережено товарний вид й упаковку, ми обміняємо його вам або повернемо гроші.</p>
<br>
<p>Обмін і повернення товарів належної якості здійснюється за рахунок покупця упродовж 14 днів із дня продажу за умови збереження товарного вигляду купленого обладнання, упаковки та наявності документів, що підтверджують факт купівлі.</p>
<br>
<h2>Будь ласка, зверніть увагу:</h2>
<br>
<p>Перелік зі змінами, внесеними згідно з Постановами КМ N 1317 (1317-2003-п) від 20.08.2003, N 1 642 (1642-2004-п) від 13.12.2004, N 1173 (1173-2005-п) від 07.12.2005</p>
<br><br><br><br><br>

</div>
