<div class="Delivery">
  <h1>Способи доставки</h1>
  <div class="nav">
      <li>
        <a href="">
            <img src="./../../assets/img/new-post.jpg" alt="">
            <br> <p>Нова пошта</p>
          </a></li>
      <li><a href="">
        <img src="./../../assets/img/cyrier.jpg" alt=""> <br>
      <p>Адресна доставка <br> в межах Львова та області</p>  </a></li>
      <li><a href="">
        <img src="./../../assets/img/cyrier-girl.png" alt="">
       <br> <p>Доставка кур'эром</p></a></li>
  </div> 
  <h1>Способи оплати</h1>
  <div class="nav2">
    <li>
      <h3>Готівкова</h3>
      <p>Оплата готівкою <br> при отриманні товару</p>
    </li>
    <li>
      <h3>Visa і MasterCard</h3>
      <p>Оплата замовлення онлайн банківською карткою Visa i MasterCard</p>
      <p>Доставка товару можлива тільки після підтвердження платежу</p>
    </li>
  </div>
</div>
