      <!-- Хідер -->
      <div id="header" class="center clearfix">
                          <!-- Логотип -->
            <div id="logo" class="left">
                <a routerLink="/home">
                  <img src="./../../../assets/img/Logo.png" height="60" width="61" alt="logo">
                  <span>PhoneShop</span>
                </a>
              </div>
              <!-- // Логотип -->
            <ul class="nav">
              <li><a routerLink="/home">HOME</a></li>
              <li><a routerLink="/payment">Доставка і оплата</a></li>
              <li><a routerLink="/credit">Кредит</a></li>
              <li><a routerLink="/warranty">Гарантія</a></li>
              <li><a routerLink="/contact">Контакти</a></li>
            </ul>
        </div>
        <router-outlet></router-outlet>
        